@tailwind base;
@tailwind components;
@tailwind utilities;

  .navbar__link:hover {
    transform: translateY(-2px);
    color: gray;
  }
  
  .active {
    border-bottom: 3px solid #29b6f6;
    color: black !important;
    transition: border-bottom .5s ease-in-out;
  }
  